@inherits LayoutComponentBase

<div class="page">
	<header class="top-row justify-content-between">
		<div class="navbar navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="">GameRooms.UI</a>
			</div>
		</div>
	</header>
	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>